<div class="full-screen-container">

  @if (task$ | async; as task) {
    <div class="task-info">
      <div class="app-info">
        <img class="app-info__img" src="/assets/rx-logo.png" alt="RxJS Logo">
        <h1 class="app-info__name">RxJS Learn</h1>
      </div>
      <div class="task-change">
        <a
          [class.disabled]="task.previousTaskId === null"
          [routerLink]="['../', task.previousTaskId]"
          class="link">
          {{'<< Previous task'}}
        </a>
        <a
          [class.disabled]="task.nextTaskId === null"
          [routerLink]="['../', task.nextTaskId]"
          class="link">
          {{'Next task >>'}}
        </a>
      </div>
      <rla-task-markdown [taskContent]="task.content" />
    </div>

    <rla-task-editor [task]="task" />
  }

</div>
