@for (task of tasks$ | async; track task.id; let index = $index) {
  <div class="panel" [class.solved]="isSolved(task.id) | async">
    <rla-expansion-panel>

      <ng-container ngProjectAs="title">
        <div class="panel-title">
          <span class="task-name">
            {{ index + 1 }}: {{ task.title }}
          </span>
          <div>
            <button class="button primary" (click)="redirectTo(task.id)">
              Open Level
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container ngProjectAs="expand">
        <div>
          {{ task.description }}
        </div>
      </ng-container>

    </rla-expansion-panel>
  </div>
}
