/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --color-primary: #c2185b;
  --color-primary-dark: #b51856;
  --color-primary-darkest: #a0164d;

  --color-secondary: #89238c;
  --color-secondary-dark: #7d2081;
  --color-secondary-darkest: #6f1d72;

  --color-warn: #ff0000;
  --color-warn-dark: #ee0000;
  --color-warn-darkest: #df0000;

  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #eee;

  --font-xs: 16px;
  --font-s: 20px;
  --font-m: 24px;
  --font-l: 32px;
  --font-xl: 40px;
}

button.button {
  --btn-color: #0000;
  --btn-color-dark: #00000020;
  --btn-color-darkest: #00000040;
  --text-color: var(--color-dark);

  padding: 10px 15px;
  border-radius: 5px;
  color: var(--text-color );
  background-color: var(--btn-color);
  border: none;
  cursor: pointer;
}

button.button:hover {
  background-color: var(--btn-color-dark);
}

button.button:active {
  background-color: var(--btn-color-darkest);
  outline: none;
}

button.button.primary {
  --btn-color: var(--color-primary);
  --btn-color-dark: var(--color-primary-dark);
  --btn-color-darkest: var(--color-primary-darkest);
  --text-color: var(--color-light);
}

button.button.secondary {
  --btn-color: var(--color-secondary);
  --btn-color-dark: var(--color-secondary-dark);
  --btn-color-darkest: var(--color-secondary-darkest);
  --text-color: var(--color-light);
}

button.button.warn {
  --btn-color: var(--color-warn);
  --btn-color-dark: var(--color-warn-dark);
  --btn-color-darkest: var(--color-warn-darkest);
  --text-color: var(--color-light);
}

button.button.icon {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
